<div class="">
    <div class="breadcrumb">
      <h1>Direktor</h1>
      <ul>
        <li><a href="#">Bosh sahifa</a></li>
        <li>Direktor</li>
      </ul>
    </div>
  
    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input id="email" placeholder="Direktor ismi yoki pasport ma'lumoti" [formControl]="searchControl" class="form-control form-control-rounded" type="email">
        </div>
      </div>
      <div class="col-md-12">
          <div class="card  o-hidden">
              <ngx-datatable
              style="height: 500px; box-shadow: none"
              class="material fullscreen"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="60"
              [scrollbarV]="true"
              [rows]="filteredProducts"> 
                <ngx-datatable-column name="id"  >
                    <ng-template ngx-datatable-header-template>
                      T/R
                    </ng-template>
                  </ngx-datatable-column>
                <ngx-datatable-column name="fullName"  >
                  <ng-template ngx-datatable-header-template>
                    Direktor F.I.O.
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="passport">
                  <ng-template ngx-datatable-header-template>
                    Pasport seriyasi
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="gander">
                  <ng-template ngx-datatable-header-template>
                    Jinsi
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="address">
                    <ng-template ngx-datatable-header-template>
                      Manzili
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="phone">
                    <ng-template ngx-datatable-header-template>
                      Telefon raqami
                    </ng-template>
                  </ngx-datatable-column>
            </ngx-datatable>
          </div>
      </div>
    </div>
</div>  